@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img.jpg);
    background-repeat: no-repeat,no-repeat;
    background-size: cover;
    background-color: lightgrey;
}

#ingredient{
    border: 2px solid lightcobal;
}

th,td{
    border: 1px solid lightcobal;
}
