@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/img.jpg);
    background-repeat: no-repeat,no-repeat;
    background-size: contain;
    background-color: lightgrey;
}
